.input-group-text-sm{
    font-size: 0.875rem;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    word-break: break-all;
  }




/*  */
.texto-datos {
    font-size: 16px;
    color: #6d7781;
}

.registro-nombre {
    font-size: 1.5rem;
    font-weight: bold;
    color: #606972;
}
.sub-categoria-titulo {
    font-size: 1.18rem;
    font-weight: bold;
    color: #505962;
}

.list-group-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px 15px;
}

.bg-light1 {
    background-color: #e4e6f1;
    
}

.table-header-bg {
    background-color: var(--falcon-gray-200);
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.w-80 {
    width: 90%;
}